@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  line-height: 0px;
  font-size: 20px;
}

.app-title h1 {
  font-size: 65px;
  color: #1f3281;
}

.app-title p {
  color: rgb(94, 94, 94);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  /* border: 0.5px solid; */
  width: 65%;
  transform: scale(1.5);
  padding: 0;
  margin: 0;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
  /* border: 0.5px solid; */
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 60px;
}

.input-area input {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  border: thin;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.input-area input:focus {
  outline: none;
  box-shadow: 0 0 4px rgb(29, 52, 148);
}

.dropdown {
  position: relative;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  width: 90px;
  font-size: 13px;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.dropdown-header:hover {
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.dropdown i {
  width: auto;
  padding: 0;
  /* padding-left: 5px;
  padding-right: 5px; */
}

/* .dropdown:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
} */

.dropdown-list {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;

  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

  list-style: none;
  padding: 5px 0;
  margin: 0;
  opacity: 0;
  
  /* display: none; */
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.dropdown-list li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.dropdown-list li:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 220, 220);
  width: 100%;
  height: 100%;
}

.dropdown.open .dropdown-list {
  display: flex;
  flex-direction: column;
  opacity: 1;
}


/* .filter-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; */
  /* border: 0.5px solid; */
  /* padding: 15px;
}

.filter-select {
  padding: 11px;
  border-radius: 8px;
  border: thin;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.filter-select:focus {
  outline: none;
}

.filter-select:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}  */


.add-btn i {
  font-size: 10px;
}

.add-btn {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 11px;
  padding-left: 13px;
  padding-right: 15px;
  gap: 6px;
  border: thin;
  color: #1f3281;
  background-color: #fae4cf;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.add-btn:hover {
  box-shadow: 0 0 6px rgba(29, 52, 148, 0.3);
}